.navbar {
  position: fixed;
  top: 0;
  z-index: 9999 !important;
  padding: 1rem;
  right: 0;
  left: 0;
  transition: background-color 0.2s ease-in-out;
}
.navbar.is-scrolled {
  background: rgba(23, 25, 28, 0.8);
}
img.img-logo {
  height: 60px;
}
.navbar-brand {
  padding: 0;
}
.navbar-toggler {
  border: none;
  padding: 0;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url(../img/navbar-toggle.svg);
}
.navbar-nav {
  gap: 0 1rem;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #fff;
}

@media (max-width: 991.98px) {
  .navbar .navbar-collapse.show,
  .navbar .navbar-collapse.collapsing {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 100vh !important;
    background: #17191c;
    z-index: 998;
    opacity: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .btn-apply {
    display: none;
  }
}

.navbar .nav-link.active {
  background: linear-gradient(
      101.72deg,
      rgba(36, 101, 255, 0.9) 8.78%,
      rgba(187, 76, 255, 0.453125) 81.34%,
      rgba(214, 138, 211, 0.587575) 124.07%
    )
    left bottom no-repeat;
  background-size: 100% 0.1rem;
}
@media (min-width: 992px) {
  .navbar .navbar-collapse .navbar-nav:first-child {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar .navbar-collapse .navbar-nav:last-child {
    margin-left: auto;
  }
}
@media (max-width: 991.98px) {
  .navbar {
    padding: 1rem;
  }
  .navbar *:not(.navbar-collapse) {
    z-index: 999;
  }
  .navbar .navbar-collapse {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }
  .navbar .navbar-collapse.show,
  .navbar .navbar-collapse.collapsing {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 100vh !important;
    background: #17191c;
    z-index: 998;
    opacity: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.btn-secondary.btn-sm,
.btn-group-sm > .btn-secondary.btn {
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  border-color: #fff;
  background-origin: border-box;
  border-width: 2px;
}
.btn-secondary.btn-sm::before,
.btn-group-sm > .btn-secondary.btn::before {
  opacity: 0;
}
.btn-secondary.btn-sm:hover,
.btn-group-sm > .btn-secondary.btn:hover,
.btn-secondary.btn-sm:focus,
.btn-group-sm > .btn-secondary.btn:focus {
  border-color: transparent;
  background-image: linear-gradient(
    101.72deg,
    rgba(36, 101, 255, 0.9) 8.78%,
    rgba(187, 76, 255, 0.453125) 81.34%,
    rgba(214, 138, 211, 0.587575) 124.07%
  );
  color: #fff;
}
.btn-login {
  border-radius: 0.5rem;
  padding: 5px 15px;
  margin-right: 20px;
  color: #fff;
  font-size: 20px;
}
.btn-tertiary {
  border: 0.1rem solid transparent;
  border-radius: 0.75rem;
  padding: 3px 11px;
  color: #fff;
  position: relative;
  background: 0 0;
  display: inline;
  margin-right: 20px;
  font-size: 19px;
}
.btn-tertiary:disabled,
.btn-tertiary.disabled {
  background: 0 0;
}
.btn-tertiary::before {
  content: "";
  position: absolute;
  top: -0.1rem;
  left: -0.1rem;
  right: -0.1rem;
  bottom: -0.1rem;
  border-radius: 0.75rem;
  padding: 0.6rem 1rem;
  border: 0.1rem solid transparent;
  background: linear-gradient(transparent, transparent),
    linear-gradient(
      101.72deg,
      rgba(36, 101, 255, 0.9) 8.78%,
      rgba(187, 76, 255, 0.453125) 81.34%,
      rgba(214, 138, 211, 0.587575) 124.07%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  -webkit-mask: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(#fff, #fff);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff, #fff) padding-box, linear-gradient(#fff, #fff);
  mask-composite: exclude;
  opacity: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    opacity 0.15s ease-in-out, background-image 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn-tertiary::before {
    transition: none;
  }
}
.btn-tertiary:hover,
.btn-tertiary:focus {
  background: 0 0;
  border: 0.1rem solid transparent;
  color: #fff;
}
.btn-tertiary:hover::before,
.btn-tertiary:focus::before {
  opacity: 1;
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
