<div class="container">
    <div class="footer-wrapper">
        <div class="footer-links">
            <div class="links">
                <span class="copy">Copyright ©️ 2022 ProMusicStreams, LLC. All rights reserved.
                </span>
                <a href="/terms-of-use.html">Terms of Service</a>
                <a href="/privacy.html">Privacy Policy</a>
                <a href="/cookies.html">Cookie Policy</a>
            </div>
        </div>
        <p class="legal-notice">
            All Rights Reserved. ProMusicStreams is a registered trademark in China, the European Union, the United Kingdom,
            Russia
            and pending registration in the United States.
            The ProMusicStreams icon and ProMusicStreams logo are trademarks registered in the United Kingdom.
            ProMusicStreams Ltd. is a registered company in England and Wales under company number 11748197 and a data
            controller
            registered with the UK ICO under reference ZA630468.
            Registered Office 27 Old Gloucester Street, London, UK, WC1N 3AX.
            Some services advertised as part of our packages or on our websites may be provided by our group companies
            or
            partners.
        </p>
    </div>
</div>